.post-card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border: 1px solid #000000 ;
    border-radius: 8px;
    background-color: #f5e7dd; 
    max-width: 300px;
}

.post-card div:first-child {
    border: 1px solid #000000 ;
}

.post-card div:nth-child(2){
    border: 1px solid #000000 ;

}

.post-card img {
    height: 250px;
}
