.footer-container {
    width: 80% auto;
    background-color: #d89727;
    border-radius: 5px;
    border: 1px solid #fff188;
    padding: 40px 20px;
}

.navegacion-secundaria {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;    
}

.texto {
    text-align: center;
    width: 20%;
    
}

.navegacion-paginas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    justify-content: center;
    border: 1px solid #0000;
    border-radius: 5px;   
}

.navegacion-paginas a {
    background-color: #aa7834e9;
    color: #ffff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.navegacion-externa {
    width: 20%;
}

.navegacion-externa ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navegacion-externa li {
    padding: 10px 15px;
    background-color: #aa7834e9;
    color: #ffff;
    border-radius: 5px;
}

.navegacion-externa a {
    text-decoration: none;
    cursor: pointer;
    color: #ffff;
    background-color: #aa7834e9;
   
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
}