.featured-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

.contenedor-project-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 60px;
}