/*--------- FeaturedProjects------ */

/*contenedor principal*/
.featured-projects {
  padding: var(--espac-2xl);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--espac-xl);
}

/*titulo*/
.featured-projects > h2:first-of-type {
  font-family: var(--font-titulos);
  font-size: var(--titulo-m);
  font-weight: var(--semibold);
  color: var(--pergamino);
  text-align: left;
  text-transform: uppercase;
}

/*contenedor de tarjetas de proyectos*/
.contenedor-project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.index-hero-container-button{
  margin: 0 auto;
}



