/*-------------Footer------------*/

/*contenedor principal*/
.footer-container {
  background-color: var(--oscuro);
  padding: var(--espac-xl) var(--espac-xl) var(--espac-l);
}

/*contenedor 4 columnas*/
.navegacion-secundaria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: var(--espac-xl);
}

/* Titulos por cada columna*/
.navegacion-secundaria h3 {
  font-family: var(--font-body);
  font-size: var(--parrafo-s);
  font-weight: var(--semibold);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--ocre);
  border-bottom: 1px solid var(--ocre);
  padding-bottom: var(--espac-m);
  margin-bottom: var(--espac-l);
}

/* 1º Columna texto ------------*/
.texto p {
  font-size: var(--parrafo-s);
  color: var(--ocre);
  line-height: 1.8;
  margin-bottom: var(--espac-s);
}

/* 2ª Columna menu secundario------------*/
.navegacion-paginas {
  display: flex;
  flex-direction: column;
}

.navegacion-paginas a {
  font-size: var(--parrafo-s);
  color: var(--pergamino);
  opacity: 0.7;
  margin-bottom: var(--espac-s);
}

.navegacion-paginas a:hover {
  color:var(--pergamino);
  opacity: 1.0;
  transform: translateY(-3px);
}

/*3.Columna enlaces externos.--------- */
.navegacion-externa ul {
  list-style: none;
}

.navegacion-externa li {
  margin-bottom: var(--espac-s);
}

.navegacion-externa a {
  font-size: var(--parrafo-s);
  color: var(--pergamino);
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navegacion-externa a:hover {
  color:var(--pergamino);
  opacity: 1;
  transform: translateY(-3px);
}

/*-----------linea inferior Copyright -----------*/
.copyright {
  border-top: 2px solid var(--oscuro-borde);
  padding-top: var(espac-m);
  text-align: center;
}

.copyright p {
  font-size: var(--parrafo-xs);
  color: var(--ocre);
  opacity: 0.7;
}


